<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <title>About Us</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
        <a class="navbar-brand" href="/index.html">OS Simulator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container my-5" id="mypar">
          <h2 class="text-center">About Us</h2>
          <p><b>Introduction to the Algorithm Simulation Website:</b>

            Welcome to the Algorithm Simulation website, where you can explore and interact with various algorithms commonly used in computer science and operating systems. This website provides a platform for understanding and experimenting with algorithms through simulation, making complex concepts more accessible and engaging.<br>
            
            <b>Exploring Algorithms:</b>
            The website offers a collection of algorithms, each accompanied by detailed explanations of their concepts and functionalities. From scheduling algorithms like Shortest Job First (SJF) to synchronization problems such as the Dining Philosophers Problem with Semaphore, you'll find a diverse range of topics covered here.<br>
            
            <b>Interactive Simulations:</b>
            Experience algorithms in action through interactive simulations designed to illustrate their behavior and principles. With just a click of a button, you can simulate the execution of algorithms and observe their outcomes, gaining valuable insights into their operations.<br>
            
            <b>Educational Resources:</b>
            Whether you're a student looking to deepen your understanding of algorithms or a professional seeking to refresh your knowledge, this website offers valuable educational resources to support your learning journey. Dive into algorithmic concepts, explore real-world applications, and enhance your problem-solving skills.<br>
            
            <b>Continuous Learning:</b>
            The Algorithm Simulation website is committed to fostering continuous learning and exploration. New algorithms, simulations, and educational content will be regularly added to keep the platform updated and relevant to the evolving field of computer science.<br>
            
            <b>Start Exploring:</b>
            Ready to delve into the fascinating world of algorithms? Browse through the selection of algorithms available on the website and start exploring their intricacies through interactive simulations. Whether you're a novice or an experienced coder, there's always something new to discover and learn here.</p>
        <h3>About the Team</h3>
        <p>We are a group of enthusiastic and dedicated Computer Science undergraduates studying at Pandit Deendayal Energy University (PDEU) in Gandhinagar, India. As students passionate about technology and innovation, we have come together to collaborate on a project that forms a vital component of our curriculum, focusing on the subject of Operating Systems.</p>
        <p>As Computer Science undergraduates at PDEU, we share a common aspiration to excel academically and make meaningful contributions to the field of technology. Through our collaboration on this project, we aim to deepen our understanding of operating systems, hone our technical skills, and cultivate a spirit of innovation and inquiry. Beyond academic pursuits, we aspire to apply our knowledge and expertise to real-world challenges, making a positive impact on society and shaping the future of technology.</p>
        <p style="font-size: 20px;"><b>Meet the team behind OS Simulator:</b></p>
        <ul>
          <li><strong>Meet Dholakia</strong> - <a href="https://www.linkedin.com/in/meetdholakia2074" target="_blank">LinkedIn</a> | <a href="https://github.com/meetd99" target="_blank">GitHub</a> | <a href="mailto:meet.dce22@pdpu.sot.ac.in" target="_blank">Email</a></li>
          <li><strong>Maitri Savalia</strong> - <a href="https://www.linkedin.com/in/maitri-savalia" target="_blank">LinkedIn</a> | <a href="https://github.com/MaitriSavalia" target="_blank">GitHub</a> | <a href="mailto:maitri.sce22@pdpu.sot.ac.in" target="_blank">Email</a></li>
          <li><strong>Keni Patel</strong> - <a href="https://www.linkedin.com/in/keni-patel05" target="_blank">LinkedIn</a> | <a href="https://github.com/keni-patel05" target="_blank">GitHub</a> | <a href="mailto:keni.pce22@pdpu.sot.ac.in" target="_blank">Email</a> </li>
          <li><strong>Zoya Singh</strong> - <a href="https://www.linkedin.com/in/zoya-singh-152b39251" target="_blank">LinkedIn</a> | <a href="https://github.com/zoyasingh" target="_blank">GitHub</a> | <a href="mailto:zoya.sce22@pdpu.sot.ac.in" target="_blank">Email</a> </li>
          <li><strong>Sahil Yadav</strong> - <a href="https://www.linkedin.com/in/sahil-yadav-2a448723b" target="_blank">LinkedIn</a> | <a href="mailto:sahil.yce22@pdpu.sot.ac.in" target="_blank">Email</a> </li>
          <li><strong>Priyansh Solanki</strong> - <a href="https://www.linkedin.com/in/priyansh-solanki-628503285" target="_blank">LinkedIn</a> | <a href="mailto:priyansh.sce22@pdpu.sot.ac.in" target="_blank">Email</a> </li>
      </ul>
      
      </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>
