<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FIFO Page Replacement Algorithm</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/styles.css">
<style>
  table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
        <a class="navbar-brand" href="/index.html">OS Simulator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="input-fifo">
      <div class="input1-div">
        <label for="inpu1">Enter the number of Frames:</label>
        <input type="number" name="input1" id="input1"> 
      </div>
      <div class="input2-div">
        <label for="input2">Enter the sequence of pages seperated by commas:</label>
        <input type="text" name="input2" id="input2">
      </div>
      <button onclick="createTable()">Calculate</button>
    </div>
    <div class="results-fifo"></div>
    <script src="/scripts/fifo.js"></script>


</body>
</html>